<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEqOcDLZY3h3VlhL73fi_qe97fg-YmvhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>444252860325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>societiesapp-992a8</string>
	<key>STORAGE_BUCKET</key>
	<string>societiesapp-992a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444252860325:ios:7d1875ae5f7832916e824c</string>
</dict>
</plist>